*.log
*.tgz
.editorconfig
.env
.env.test
.eslintignore
.eslintrc.json
.gitattributes
.github/
.gitignore
.nyc_output/
.prettierignore
.vscode/
coverage/
docs/
examples/
jestconfig.json
lib/
node_modules/
package-lock.json
src/
test/
tsconfig.json
tslint.json
yarn.lock
